@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/global";

.popup {
  position: relative;

  height: 489px;
  box-sizing: border-box;

  .popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .popup__close {
      position: absolute;
      top: 32px;
      right: 31px;

      cursor: pointer;

      &:hover svg line {
        stroke: $color-hover;
      }
    }

    .popup__title {
      @include title-lora-38;

      text-align: center;
    }

    .popup__inputs {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 422px;

      .form-input {
        position: relative;

        .input {
          width: 100%;
        }
      }
    }

    .popup__text {
      font-weight: 500;
      font-size: 14px;
      color: $color-text-secondary;
    }

    .button {
      width: 422px;
      margin-bottom: 20px;

      &.button_small {
        margin-top: 20px;
        width: 73px;
      }
    }

    .popup__alert-string {
      position: absolute;
      left: calc(50% - 232px);
      bottom: 50px;

      width: 464px;

      font-size: 14px;
      color: $color-warning;
    }
  }

  &.popup-request {
    padding: 94px 152px 0 152px;

    &.is-light {
      .popup__alert-string {
        bottom: 62px;
      }
    }

    .popup__container {
      max-width: 422px;
    }
  }

  &.popup-thank-you {
    padding: 163px 142px 0 142px;

    .popup__title {
      width: 442px;
    }
  }
}
