@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/global";

.footer {
  padding: 40px 0 54px;

  font-size: 16px;

  background-color: $color-background;

  .container {

    .footer__top {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      cursor: pointer;

      .footer__logo {
        margin-right: 40px;
      }

      .footer__menu {
        nav ul {
          display: flex;
          gap: 20px;
          margin: 0;
          padding: 0;

          li {
            list-style: none;

            a {
              color: $color-text-primary;
              text-decoration: none;

              cursor: pointer;
            }
          }
        }
      }
    }

    .footer__bottom {
      margin-bottom: 6px;
      display: flex;
      align-items: flex-start;
      gap: 60px;

      .footer__bottom-block {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .footer__bottom-block-title {
          color: $color-lightblue;
        }

        .footer__bottom-block-content {
          font-size: 14px;

          a {
            color: $color-text-primary;
            text-decoration: none;
          }
        }

        &:first-child .footer__bottom-block-content {
          width: 253px;
        }

        &:nth-child(2) {
          .button {
            width: 153px;
          }
        }

        &:last-child .footer__bottom-block-content {
          display: flex;
          gap: 12px;
          padding-top: 5px;
        }
      }
    }

    .footer__rights {
      color: $color-lightblue;
    }
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    .container {
      .footer__top {
        margin-bottom: 30px;
      }

      .footer__bottom {
        margin-bottom: 30px;
        flex-wrap: wrap;
        row-gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 30px 0;

    .container {
      display: grid;
      grid-template-areas:
        "top bottom"
        "rights rights";
      grid-row-gap: 20px;
      justify-items: center;
      align-items: center;

      .footer__top {
        margin-bottom: 0;

        grid-area: top;

        .footer__menu {
          display: none;
        }
      }

      .footer__bottom {
        grid-area: bottom;

        .footer__bottom-block {
          display: none;
        }

        .footer__bottom-block:nth-child(2) {
          position: relative;

          display: block;

          .footer__bottom-block-title,
          .footer__bottom-block-content {
            display: none;
          }
        }
      }

      .footer__rights {
        grid-area: rights;
      }
    }
  }
}
