@import "../../../assets/styles/variables";

.layout {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .layout__to-the-header, .layout__to-the-footer {
    position: fixed;
    right: 20px;
    z-index: 10;

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid $color-lightblue;
    border-radius: 50%;

    font-size: 32px;
    color: $color-lightblue;

    user-select: none;
    background-color: $color-white;
    cursor: pointer;

    &:hover {
      border-color: $color-hover;
      color: $color-hover;
    }
  }

  .layout__to-the-header {
    bottom: 70px;
  }

  .layout__to-the-footer {
    bottom: 20px;
  }
}
