<div class="signup">
  <div class="container auth__container">
    <div class="auth__info">
      <div class="auth__info-container">
        <div class="auth__title">Регистрация на сайте</div>

        <div class="auth__form" [formGroup]="authForm" appConfirmPasswordDirective>
          <mat-icon class="password-icon" (click)="changePasswordVisibility()">
            {{ passwordIsVisible ? 'visibility' : 'visibility_off' }}
          </mat-icon>

          <mat-icon class="password-icon confirm" (click)="changeConfirmPasswordVisibility()">
            {{ confirmPasswordIsVisible ? 'visibility' : 'visibility_off' }}
          </mat-icon>

          <div class="auth__form-input">
            <input class="input" type="text" placeholder="Ваше имя" formControlName="name"
                   [ngStyle]="{'border-color': authForm.get('name')?.invalid &&
                   (authForm.get('name')?.dirty || authForm.get('name')?.touched) ? 'red' : ''}">
          </div>

          <div class="auth__form-input">
            <input class="input" type="email" placeholder="Электронная почта" formControlName="email"
                   autocomplete="new-email"
                   [ngStyle]="{'border-color': authForm.get('email')?.invalid &&
                   (authForm.get('email')?.dirty || authForm.get('email')?.touched) ? 'red' : ''}">
          </div>

          <div class="auth__form-input">
            <input class="input" type="{{passwordIsVisible ? 'text' : 'password'}}" placeholder="Пароль"
                   formControlName="password" autocomplete="new-password"
                   [ngStyle]="{'border-color': authForm.get('password')?.invalid &&
                   (authForm.get('password')?.dirty || authForm.get('password')?.touched) ? 'red' : ''}">
          </div>

          <div class="auth__form-input">
            <input class="input" type="{{confirmPasswordIsVisible ? 'text' : 'password'}}"
                   placeholder="Повторите пароль" formControlName="confirmPassword" autocomplete="new-password"
                   [ngStyle]="{'border-color': authForm.get('confirmPassword')?.invalid &&
                   (authForm.get('confirmPassword')?.dirty || authForm.get('confirmPassword')?.touched) ? 'red' : ''}">
          </div>

          <div class="auth__form-checkbox">
            <input type="checkbox" formControlName="checkbox">
            <span>
            Я принимаю <a (click)="followTheLink('/terms', 'userAgreement')">условия пользовательского соглашения</a>
            и даю <a (click)="followTheLink('/terms', 'personalDataProcessing')">согласие на обработку персональных данных</a>.
          </span>
          </div>

          <button type="button" class="button" [disabled]="authForm.invalid" (click)="signup()">
            Зарегистрироваться
          </button>

          <div class="auth__link">
            <span>Уже есть аккаунт?</span>
            <a (click)="followTheLink('login')">Войдите</a>
          </div>
        </div>
      </div>
    </div>

    <div class="auth__image signup__image"></div>
  </div>
</div>
