@import "../../../../assets/styles/auth";

.signup {
  .container {
    mat-icon.password-icon {
      top: 138px;

      &.confirm {
        top: 199px;
      }
    }

    .signup__image {
      background-image: url("../../../../assets/images/pages/signup/Image.png");
    }
  }
}
