@import "variables";
@import "mixins";

html, body {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $color-text-primary;
}

app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .ng-star-inserted {
    flex-grow: 1;
  }
}

a:hover,
a:hover path,
a:hover ~ svg path,
.mat-mdc-menu-trigger:hover {
  color: $color-hover !important;
  fill: $color-hover !important;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.button {
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: $color-white;

  background-color: $color-lightblue;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }

  &.button_small {
    padding: 10px 0;

    font-size: 12px;
  }

  &:hover {
    background-color: $color-hover;
  }
}

.mat-mdc-menu-content .mat-mdc-menu-item span.mdc-list-item__primary-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: $color-text-primary;
  letter-spacing: unset;
  text-align: right;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10px !important;
  border: 2px solid $color-lightblue;
}

.mat-menu-overlay-with-margin-top {
  margin-top: 10px;
}

.popup {
  position: relative;

  height: 489px;
  box-sizing: border-box;

  .popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .popup__close {
      position: absolute;
      top: 32px;
      right: 31px;

      cursor: pointer;

      &:hover svg line {
        stroke: $color-hover;
      }
    }

    .popup__title {
      @include title-lora-38;

      text-align: center;
    }

    .popup__inputs {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 422px;
    }

    .popup__text {
      font-weight: 500;
      font-size: 14px;
      color: $color-text-secondary;
    }

    .button {
      width: 422px;
      margin-bottom: 20px;

      &.button_small {
        margin-top: 20px;
        width: 73px;
      }
    }

    .popup__alert-string {
      position: absolute;
      left: calc(50% - 232px);
      bottom: 50px;

      width: 464px;

      font-size: 14px;
      color: $color-warning;
    }
  }

  &.popup-request {
    padding: 94px 152px 0 152px;

    &.is-light {
      .popup__alert-string {
        bottom: 62px;
      }
    }

    .popup__container {
      max-width: 422px;
    }
  }

  &.popup-thank-you {
    padding: 163px 142px 0 142px;

    .popup__title {
      width: 442px;
    }
  }
}

.mat-mdc-select-value {
  line-height: 18px;
}

.mat-mdc-select-arrow-wrapper {
  display: none !important;
}

.mat-mdc-option {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $color-lightblue;
}

input, select, .mat-mdc-select-value {
  padding: 17px 20px;
  box-sizing: border-box;
  border: 1px solid $color-lightblue;
  border-radius: 3px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $color-lightblue;

  outline: none;

  &::placeholder {
    color: $color-placeholder;
  }
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 15px;

  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;

  .owl-dot {
    span {
      margin: 0 10px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 1px solid $color-white;

      background: transparent;
    }

    &:hover {
      span {
        background: $color-hover;
      }
    }

    &.active {
      span {
        background: $color-white;
      }
    }
  }
}

.carousel {
  position: relative;

  .carousel__arrows {
    .arrow-backward, .arrow-forward {
      position: absolute;
      z-index: 2;

      cursor: pointer;
    }
  }
}
