$container-width: 1240px;

$color-text-primary: #071739;
$color-text-secondary: #1E1A2B;
$color-lightblue: #709FDC;
$color-lightgray: #BEBEBE;
$color-background: #B9D5FD;
$color-placeholder: #A8ABA7;
$color-hover: #568BD5;
$color-white: #FFFFFF;
$color-warning: #FF0000;
