<div class="terms">
  <div class="container">
    <div class="term">
      <div class="terms__title" id="userAgreement">Пользовательское соглашение</div>
      <div class="terms__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum modi ratione sit soluta unde. Animi at
          delectus deleniti, eos fuga laborum nesciunt obcaecati praesentium quae, quisquam ratione, rem ullam veritatis
          vero voluptas! Amet, delectus eveniet ex fugit incidunt nihil nobis, nulla, obcaecati pariatur perferendis
          quae quod totam veniam vitae voluptas? Aliquid eligendi esse fugit impedit ipsam saepe sapiente sed? A earum
          numquam optio quidem. Accusamus adipisci aut beatae commodi doloremque dolorum ea earum eligendi illum impedit
          in ipsa modi molestiae natus nostrum odit officia pariatur quo reiciendis sequi soluta tenetur ullam veniam
          vitae, voluptatem.</p>
        <p>Ab asperiores corporis dolor ea expedita molestiae sequi, temporibus ut velit. Adipisci amet corporis
          dignissimos necessitatibus voluptatibus! Asperiores autem dicta ea libero, mollitia quaerat qui quis. Ducimus
          eaque molestias omnis quam repellat suscipit voluptatibus. Alias dignissimos est modi qui reiciendis saepe
          ullam? Error ipsum nemo ratione temporibus? Ab aliquam aspernatur dolores eaque, eligendi eum, fugiat ipsum
          itaque magni maiores nemo nulla officiis quo reprehenderit rerum ullam veniam voluptatem! Amet assumenda at
          consequatur cum cupiditate distinctio ducimus eaque earum et ex exercitationem ipsum laboriosam laborum modi,
          mollitia nam nulla numquam perspiciatis quae quis quod quos reiciendis rem saepe sapiente, similique sunt
          voluptas. Accusantium atque consequuntur eligendi eos expedita nisi, tenetur. Ab, alias asperiores delectus ex
          laboriosam nam nemo quia quibusdam quisquam repellat repudiandae vero, voluptates. Aliquam aut dolor excepturi
          ipsam itaque maiores maxime minima! Ad adipisci, amet asperiores dignissimos dolorum ducimus eos ipsa iste
          magnam magni minima, nesciunt nobis non odio quis repellat, repudiandae sapiente sequi totam velit? Accusamus
          blanditiis culpa nihil nobis quae qui quia quis sunt.</p>
        <p>Accusantium culpa, debitis est fuga harum ipsa iusto perspiciatis quia quidem repellendus, similique suscipit
          voluptas voluptatum? Alias, ea fuga. Ab accusantium, assumenda blanditiis cumque distinctio dolorum labore
          laboriosam nam nemo obcaecati praesentium provident, quae quia quo rerum sapiente voluptatibus. A adipisci
          asperiores aspernatur consequatur distinctio dolore, enim eum magni nam perferendis quam repellendus, saepe.
          Amet asperiores ipsam libero optio quaerat quibusdam quisquam quod tempore unde veniam! Aliquid eaque esse
          rerum sequi vel veniam! Adipisci, animi cupiditate deleniti dolore dolorem ea id laboriosam maxime modi,
          obcaecati quaerat quam repellat rerum sed temporibus velit voluptate. Aspernatur dicta eos quam sequi
          similique! A aperiam facilis fuga minus modi nemo, provident tempora. Accusantium aliquam at beatae dicta
          dolorem eaque excepturi fuga hic illo illum impedit ipsum libero nemo nobis optio quia recusandae rem
          reprehenderit saepe, unde ut, velit, veritatis voluptatem. Aliquid amet consequuntur dolore earum eligendi et
          ex hic ipsa iste itaque laboriosam maxime necessitatibus, reiciendis tempore, totam vitae voluptatum?
          Accusamus aliquid aspernatur cupiditate dolore, doloremque doloribus ducimus eligendi enim fugiat, id natus
          necessitatibus officiis perspiciatis praesentium quisquam ratione rerum, sint temporibus veniam vero! Cumque
          eum fuga iusto laborum laudantium minima molestiae nobis quia quidem repudiandae sequi, similique voluptatem.
          Aliquid aut autem commodi cum cupiditate dicta dolor dolorem eius est ex excepturi facilis fuga ipsa ipsum
          itaque libero magni minima molestias nam natus optio perspiciatis, porro possimus quaerat quasi quisquam quos
          repellendus rerum tempora totam velit, voluptate voluptates voluptatum? Cupiditate harum ipsa libero natus!
          Aspernatur blanditiis in ipsum quae? Assumenda atque consectetur corporis debitis doloribus est excepturi
          expedita facilis itaque iure maiores molestiae nam nemo optio pariatur praesentium quis quisquam quo
          repellendus saepe similique sint, temporibus vero?</p>
        <p>Aliquid architecto asperiores assumenda atque aut commodi consequuntur cumque, debitis deleniti dicta dolor
          doloribus eligendi est ex excepturi in ipsa, iusto laboriosam, maiores maxime molestiae nemo neque odit quia
          quis quisquam reiciendis sit tempore ut voluptatibus! Assumenda delectus eveniet, ex excepturi expedita modi
          non, nostrum quasi ratione recusandae rem soluta, vel vitae. Cupiditate dolor eum minus provident saepe.</p>
        <p>Animi at commodi consequuntur doloribus expedita facilis incidunt libero maiores rem vitae? Blanditiis dolor
          nemo neque nobis perferendis placeat, quaerat qui vero. A asperiores at consequatur debitis dicta dignissimos
          et incidunt iste laborum nam nihil omnis optio perspiciatis provident, similique sit, velit veritatis
          voluptate. Alias amet at atque, cumque cupiditate dolore dolorem mollitia nisi, quasi sunt tempore, voluptas!
          A animi aperiam atque commodi deleniti dicta dolorem dolores, et facere impedit ipsa libero molestias
          obcaecati optio praesentium quasi sed tempora ullam veniam, vitae! Aliquid aut dolorum ea eos eveniet
          explicabo fugiat harum, in ipsum iure molestiae non officia pariatur quibusdam quis quod sit tempora.
          Accusantium animi aperiam autem commodi cumque cupiditate dolor doloremque dolorum esse fuga, fugiat hic id in
          inventore ipsa ipsam iure laboriosam laudantium maxime neque nobis omnis praesentium provident quis rerum
          saepe tenetur velit voluptatem voluptates voluptatum. Adipisci aut facere officia porro ullam. Assumenda
          cupiditate dolorem ea fugit hic itaque, iusto nulla officia officiis provident reprehenderit vero voluptatum!
          Alias aut autem corporis cum dolorum eius est explicabo magnam odit sed? At beatae consequatur deleniti
          doloremque esse eum ex exercitationem expedita fugiat harum illo iste laborum laudantium, non omnis, quaerat
          reprehenderit, totam. Ab accusamus asperiores at aut beatae dicta dolore, esse eveniet ex excepturi facere
          illo inventore ipsam itaque maiores minima modi molestiae mollitia necessitatibus nemo nesciunt nobis non,
          odio officia omnis pariatur praesentium quibusdam quidem quis quisquam recusandae sit soluta sunt veniam
          veritatis vero vitae. Aliquam beatae consequatur deserunt dignissimos distinctio dolorem dolorum eligendi
          exercitationem harum impedit in maiores nemo neque nobis non, odit officiis pariatur qui quibusdam quidem
          sapiente sunt velit. Deleniti eius explicabo facilis illum porro.</p>
        <p>Animi assumenda beatae consequatur corporis dignissimos dolorem eaque earum eius fugiat impedit odio,
          perspiciatis porro quae quo sed similique sit soluta, tempora voluptas voluptatibus. Commodi consequuntur
          dolor dolore eos est fugiat impedit, maxime minima modi officiis quidem quos voluptate. Esse iusto laborum
          laudantium quasi, sapiente sunt voluptatibus! A animi autem dolores eius est magni mollitia nam nisi, possimus
          quaerat quam quos rem sit ullam voluptas. Ad aliquam aliquid aperiam autem deleniti distinctio dolore ducimus
          earum enim fugit maiores minima necessitatibus nihil numquam officia possimus, praesentium, quisquam
          reprehenderit tempore voluptatem! Animi, architecto aspernatur atque consectetur delectus dignissimos
          doloremque ducimus earum eligendi esse et eveniet fuga in inventore ipsum itaque mollitia natus, nihil
          nostrum, numquam officiis omnis perferendis possimus soluta temporibus ut vero voluptatibus? Assumenda itaque
          nemo nihil officiis, quis quod saepe tenetur. Aperiam aut, corporis esse harum iste minus modi, neque nisi
          optio placeat reiciendis repudiandae rerum sunt ullam vitae. Blanditiis, culpa cupiditate ducimus eaque est
          facere ipsa iste itaque iusto modi nemo nostrum numquam omnis optio placeat quia sint, vel voluptas! A
          distinctio eaque illo, iure magnam ratione ut. Aperiam aut commodi consectetur corporis cum est et. Accusamus
          aperiam commodi dignissimos error maiores, obcaecati officia pariatur quod saepe, sapiente sint veniam
          veritatis voluptas. Accusamus atque autem debitis explicabo illum ipsum labore magni minima neque, odit
          pariatur quae similique vitae? Blanditiis fuga quaerat sed voluptates? Adipisci beatae deserunt dolore libero
          odio omnis repudiandae, sapiente. Asperiores cum cumque dolore, eligendi et expedita facilis magni maxime nam
          perspiciatis reprehenderit, sed suscipit tenetur unde vero! Dolorem doloremque incidunt itaque optio possimus
          qui quis, voluptatum? Ad commodi cumque et, excepturi facere in iste molestiae quas quia reprehenderit soluta
          sunt totam ut voluptatem voluptatum. A accusantium ad animi est molestias nesciunt, non pariatur praesentium
          quia sed? Alias aspernatur at deserunt dignissimos error ipsa itaque iusto modi nobis quia quis quod saepe sit
          tempora, voluptas. Accusamus asperiores consequatur cumque delectus dolor earum eos est impedit iure labore
          magnam maiores nemo nihil nobis perferendis provident quae quam repellat repellendus reprehenderit, similique
          tempora tempore tenetur unde, voluptas.</p>
        <p>Ab aliquam consequuntur doloribus facilis harum inventore molestiae molestias mollitia non nulla numquam odit
          officiis quas quasi quibusdam rem, repellendus rerum sunt ullam voluptates! Ex illo repudiandae soluta vero.
          Ab accusamus aperiam architecto assumenda blanditiis cum, cupiditate eos esse eveniet facilis id illum in
          inventore iste itaque iusto laudantium libero magnam nam necessitatibus nemo nihil nobis nulla omnis optio
          placeat possimus praesentium provident ratione recusandae similique sit vero voluptates? Ab aliquid aut autem
          commodi culpa cumque delectus dolores eligendi eos est eveniet facere ipsa ipsam itaque iure laboriosam libero
          minus molestias obcaecati odio, officiis perspiciatis provident quae quos recusandae, saepe ullam veritatis!
          Adipisci alias, atque beatae consectetur, consequuntur cumque doloribus eaque eius expedita fugiat hic ipsa
          ipsum iusto laudantium nemo nostrum obcaecati officia optio perferendis quasi quibusdam quis quo quod
          reiciendis, sapiente vitae voluptate. Amet assumenda, consectetur deserunt dicta distinctio dolorum ex facilis
          itaque laboriosam minima mollitia nihil nostrum officia officiis omnis perspiciatis quae quaerat quia
          repellendus, repudiandae sint, soluta totam veritatis vero voluptate. Asperiores at atque cumque cupiditate,
          deserunt distinctio dolore eligendi error est et ex excepturi fugit illum iste laudantium molestias nesciunt
          officiis porro possimus praesentium quasi quo repudiandae saepe ut voluptas. Ab, at aut eius, est et harum
          ipsa magnam numquam quis sint soluta totam unde vero voluptas voluptatem! Deleniti laboriosam magnam, modi
          officia provident recusandae veniam?</p>
        <p>Ad aspernatur aut delectus ea eius harum impedit magnam magni molestiae, nemo officiis optio, quis quo
          suscipit velit veritatis voluptate voluptatibus. Ad eos est facere harum id ipsam, maxime nisi officiis
          perferendis sunt, tenetur unde vel? Consequuntur dolor est quisquam sunt. Accusamus ad alias aliquid beatae
          consequuntur cum, deleniti dolorem esse excepturi ipsa iure laborum maiores nemo perspiciatis reiciendis rem
          repellendus suscipit tempore tenetur veniam! Accusantium atque consequatur consequuntur explicabo id nam
          placeat possimus provident quo, reiciendis repellat sapiente, suscipit?
      </div>
    </div>

    <div class="term">
      <div class="terms__title" id="personalDataProcessing">Обработка персональных данных</div>
      <div class="terms__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolor iure laudantium nam
          natus porro saepe velit! Cupiditate delectus dicta, dolor ea ex excepturi expedita, fuga nemo placeat porro
          qui, quis temporibus voluptas! Animi asperiores assumenda aut consequuntur dignissimos dolorem ea excepturi id
          illum iste labore laborum, nemo officiis possimus quisquam saepe sequi similique, suscipit vero voluptates.
          Aliquid doloribus est, nesciunt nisi nobis quia suscipit? Quaerat, unde, ut? Aspernatur excepturi,
          exercitationem minus nihil officiis similique ut?</p>
        <p>Alias aspernatur consectetur consequuntur culpa, cumque ducimus, eligendi est excepturi inventore iste magnam
          maiores maxime molestiae necessitatibus neque nihil non numquam perferendis quo repellat repudiandae sint sit
          tempora unde voluptate voluptatem voluptates, voluptatum. Accusantium aliquid consectetur cupiditate
          dignissimos dolor ducimus, eveniet, facere fugiat inventore molestiae numquam officia possimus quisquam, quos
          unde voluptates voluptatum. Asperiores distinctio dolorum iste laudantium magni nobis non, numquam repudiandae
          rerum suscipit vel, voluptas, voluptatem voluptatum? At aut, autem hic id iusto magnam maiores nobis
          perspiciatis repudiandae sint velit voluptas voluptatem voluptatibus. Beatae commodi dolorem ea error facere
          facilis fugiat harum in iste iure labore necessitatibus non optio porro possimus ratione repellendus,
          reprehenderit rerum, suscipit tempora vel vitae voluptates? Alias aliquid dolores maxime nihil! Architecto
          dolore excepturi libero minima quia quod, reiciendis! Alias amet assumenda cumque impedit in ipsa iusto
          mollitia numquam provident quibusdam quo, rerum vero voluptatibus! Commodi culpa deleniti exercitationem hic
          incidunt itaque libero, obcaecati possimus recusandae rerum? Doloremque dolores, earum, enim, exercitationem
          facere impedit ipsam nam necessitatibus officiis perspiciatis ullam velit voluptate. Animi architecto
          assumenda at atque consectetur delectus deserunt enim facere harum id illo iure magnam nam natus nemo nostrum
          obcaecati odit, perferendis quo reprehenderit saepe soluta tempora?</p>
        <p>A aperiam at aut consequuntur corporis cupiditate dolor doloribus ducimus, eius et fuga fugiat fugit harum
          illo in ipsam iusto labore maxime minus, nam nihil nisi non officia perferendis perspiciatis quas recusandae
          reprehenderit rerum saepe sed similique sunt ullam ut vel veritatis voluptas voluptates! Amet delectus dicta
          impedit quaerat quisquam quod sed suscipit vitae! Aliquid corporis dolores dolorum est et explicabo, modi
          natus, omnis quo saepe sint sunt voluptatibus. Debitis iste libero maiores necessitatibus porro quaerat
          similique tenetur ullam! A ad aperiam at deserunt dicta dolores eligendi exercitationem expedita ipsum iste
          iure magni mollitia natus neque numquam possimus ratione, repellat repellendus sit sunt. Odio, porro ut?
          Distinctio ea exercitationem minus nihil nisi nostrum possimus repudiandae sapiente sit velit! Adipisci
          dignissimos doloribus enim esse ex fugiat id iste itaque laboriosam libero nihil, nisi officiis perspiciatis
          quasi repellendus saepe suscipit vero voluptas. A ab accusamus commodi consectetur cum deserunt dignissimos
          eligendi eos eveniet, expedita facere in ipsam necessitatibus nostrum perferendis possimus quam quia quis quod
          recusandae sapiente similique suscipit tempora totam ut! Assumenda aut cupiditate delectus dicta ea, eaque et,
          excepturi incidunt labore laboriosam nisi porro quasi quia quos sunt tempora totam voluptate! Adipisci
          asperiores corporis cupiditate distinctio dolorem dolorum error, iure maxime modi nulla, officiis ratione
          rerum, tempore? Animi beatae commodi consequatur dolore doloremque ducimus, hic, iusto libero perferendis
          porro sint tempore unde voluptate! Accusantium culpa illo laudantium modi perferendis provident ut
          voluptatem.</p>
        <p>A aliquid aperiam aspernatur assumenda atque consequatur cum dolor doloremque dolorum eligendi eos esse
          exercitationem expedita explicabo facere fugiat harum illum impedit in ipsum iure iusto libero necessitatibus
          nisi, numquam officia possimus quasi repellat repellendus sapiente sit tempore tenetur ullam unde vel voluptas
          voluptates! Aliquid atque deserunt dolores ea error eum eveniet excepturi facere hic magnam, magni minima
          modi, natus nobis, quae quam quis? Commodi consequuntur, corporis culpa cupiditate facere impedit natus
          necessitatibus, odio odit possimus praesentium similique sunt tenetur voluptas voluptatum? Alias asperiores
          aspernatur autem dolor facere laborum natus nisi, numquam repudiandae ut! Commodi dolorem eaque earum esse
          libero maxime quibusdam, reiciendis ut voluptas voluptatibus. Ab alias aperiam aspernatur, beatae consectetur
          cum cumque doloribus esse eum exercitationem illum impedit in ipsam iusto laboriosam maxime molestiae
          necessitatibus nihil omnis perspiciatis quidem quis repellat repellendus reprehenderit repudiandae sit,
          tempora tempore totam, unde vel velit vero voluptates voluptatibus. Adipisci beatae eveniet incidunt libero
          maxime natus obcaecati perspiciatis quae, quos reprehenderit sunt tempore ut voluptatibus.</p>
      </div>
    </div>
  </div>
</div>
