@import "../../../../assets/styles/variables";

.header {
  padding: 40px 0;

  font-weight: 500;
  font-size: 16px;

  .container {
    display: flex;
    align-items: center;

    .header__logo {
      margin-right: 100px;

      cursor: pointer;
    }

    .header__menu {
      margin-right: 257px;

      nav ul {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          &.active a {
            color: $color-lightblue;
          }

          a {
            color: $color-text-primary;
            text-decoration: none;

            cursor: pointer;
          }
        }
      }
    }

    .header__phone {
      color: $color-lightblue;
      text-decoration: none;
    }

    .header__personal {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 225px;

      span {
        margin-left: 7px;

        cursor: pointer;
      }
    }
  }
}
