@import "../../../../assets/styles/variables";

.header {
  padding: 40px 0;

  font-weight: 500;
  font-size: 16px;

  .container {
    display: flex;
    align-items: center;

    .header__logo {
      margin-right: 100px;

      cursor: pointer;
    }

    .header__menu {
      margin-right: 257px;

      nav ul {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          &.active a {
            color: $color-lightblue;
          }

          a {
            color: $color-text-primary;
            text-decoration: none;

            cursor: pointer;
          }

          &.header__menu-personal {
            display: none;
          }

          &.header__menu-cross {
            position: absolute;
            right: 10px;
            top: 20px;

            display: none;

            .header__menu-cross-icon {
              width: 50px;
              height: 50px;

              font-size: 50px;
              color: $color-white;
            }
          }
        }
      }
    }

    .header__phone {
      color: $color-lightblue;
      text-decoration: none;
    }

    .header__personal {
      margin-left: 7px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      justify-self: flex-end;
      width: 220px;

      span {
        margin-left: 7px;

        cursor: pointer;
      }
    }

    .header__mobile-menu-button {
      display: none;
      width: 50px;
      height: 50px;

      mat-icon {
        width: 50px;
        height: 50px;

        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .header {
    .container {
      .header__logo {
        margin-right: 50px;
        flex-grow: 1;
      }

      .header__menu {
        margin-right: 45px;
        flex-grow: 1;

        nav ul {
          gap: 25px;
        }
      }

      .header__personal {
        margin-left: 14px;
        flex-grow: 1;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    .container {
      flex-wrap: wrap;
      justify-content: space-between;

      .header__logo {
        margin-right: unset;
      }

      .header__menu {
        margin-right: unset;
      }

      .header__personal {
        width: 340px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 20px 0;

    .container {
      justify-content: space-between;

      .header__logo {
        flex-grow: 0;
        margin-right: 0;
      }

      .header__personal {
        display: none;
      }

      .header__mobile-menu-button {
        display: block;
      }

      .header__menu {
        margin-right: unset;
        display: none;

        nav ul {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 100;

          width: 100vw;
          height: 100vh;

          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 30px;

          background-color: rgba(0, 0, 0, 0.9);

          li {
            list-style: none;

            &.active a, a {
              font-size: 36px;
              color: $color-background;
              text-decoration: none;

              cursor: pointer;
            }

            &.header__menu-cross,
            &.header__menu-personal {
              display: block;
            }
          }
        }
      }
    }
  }
}
